<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="CONFIG_DELETE_DUPLICATES" value="true" />
    <add key="CONFIG_CRAWL_DEPTH" value="1" />
    <add key="CONFIG_REGEX" value="" />
    <add key="CONFIG_SEED_LIST_PATH" value="seedlist.txt" />
    <add key="CONFIG_CONT_CRAWLING_FROM_DB" value="true" />
    <add key="CONFIG_DOWNLOAD_FILE_ENABLED" value="true" />
    <add key="CONFIG_DOWNLOAD_FILE_DIR" value="" />
  </appSettings>
</configuration>